html {
  background-color: #fcf3ec;
  color: #7b7169;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Petrona', serif;

Inter
Regular 400
Bold 700
Black 900

Petrona
Regular 400
Regular 400 italic
Bold 700
Black 900 */

.cursor {
    position: absolute;
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    z-index: 1;
}

h1 {
  font-family: font-family: 'Petrona', serif;;
  font-weight: 700;
}

h2 {
  font-family: 'Inter', sans-serif;
}

h3 {
  font-family: 'Inter', sans-serif;
}

.header-name {
  text-align: center;
}

.header-nav {
  text-align: center;
}

.fixed {
  overflow: hidden;
  background-color: #fcf3ec; 
  position: fixed;
  top: 0;
  width: 100%;
}

li a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #7b7169;
}

nav a:hover {
  color: #003c7d;
}

.footer-p {
  font-family: 'Inter', sans-serif;
}

.footer-link {
  color: #7b7169;
}

@media only screen and (min-width: 25em) {

  .header-name {
    text-align: center;
  }

  .header-nav {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  .header-name {
    text-align: left;
  }

  .header-nav {
    text-align: right;
  }

}
